<div class="form" [formGroup]="form">
    <mat-form-field apperance="fill">
        <mat-label>Nume</mat-label>
        <input matInput type="text" formControlName="name" placeholder="nume">
        
    </mat-form-field>
    <mat-form-field apperance="fill">
        <mat-label>Descriere</mat-label>
        <input matInput type="text" formControlName="number" placeholder="number">
        
    </mat-form-field>
    <mat-form-field apperance="fill">
        <mat-label>Cantitate</mat-label>
        <input matInput type="number" formControlName="category" placeholder="category">
    </mat-form-field>
    <mat-form-field apperance="fill">
        <mat-label>Categorie</mat-label>
        <input matInput type="text" formControlName="category" placeholder="category">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="saveNewItem()">save</button>
</div>
