body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #e0aaaa;
	color: #ffffff;
	padding: 30px;
}

.welcome-title {
	font-size: 3em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}
